.welcome .menu {
    display: none;
}

.welcome .menu.active {
    display: block;
}

#versionSelector .dropdown {
    display: block;
}

#getContentButton {
    display: none;
}

#getContentButton.active {
    display: block;
}

.butter-wrapper {
    min-height: 100vh;
}

.overflow-x-disabled {
    overflow-x: hidden;
}

.welcome .columns {
    margin-top: .5em;
}